.cache/*
.config/*
# .devcontainer/*
.dotnet/
.local/
.ssh/
.vscode-server/
# .vscode/
# .bash_history
# .clang-format
# .gitconfig
# .prettierrc
docs/img/
atcoder/**/**/**/tests/
# atcoder/**/**/tests